$app-screen-sm: 576px
$app-screen-md: 768px
$app-screen-lg: 992px
$app-screen-xl: 1200px
:root
  --app-screen-sm: 576px
  --app-screen-md: 768px
  --app-screen-lg: 992px
  --app-screen-xl: 1200px

  --app-font-color: #222222
  --app-border-color: #dcdfe6
  --app-primary-color: #5a448d

  --app-font-familly: 'Poppins'